.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;

  &__project {
    position: relative;
    height: 26.95vw;
  }

  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
    gap: 0;
    background-color: $mobile-background;

    &__project {
      height: auto;
    }
  }
}
