@import "reset";
@import "utils";
@import "fonts";

* {
  box-sizing: border-box;
}

a {
  color: $text-color;
  text-decoration: none;
}

@import "./blocks/page";
@import "./blocks/header";
@import "./blocks/navigation";
@import "./blocks/promo";
@import "./blocks/slider";
