$c-gray: #f2f2f2;
$header-height: 108px;
$logo-size: 75px;
$text-color: #242424;
$slider-button-size: 59px;
$slider-height: 29vw;
$slider-gradient: linear-gradient(to right,rgba(242,242,242,1),rgba(242,242,242,0));
$project-inf-color: #242424;
$project-category-color: rgba(255, 255, 255, 0.5);
$project-name-color: #fff;
$mobile-gallery-background: #fff;
