$c-gray: #f2f2f2;
$logo-size: 75px;
$text-color: #242424;
$slider-button-size: 59px;
$slider-width: 60vw;
$slider-height: 40vw;
$slider-gradient: linear-gradient(to right,rgba(242,242,242,1),rgba(242,242,242,0));
